<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />
    <meta name="viewport" content="width=device-width" />
    <title>Prototype Deluxe | My new project</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,900,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./css/styles.css" />

    <!-- [if lt IE 8]>
     <link rel="stylesheet" href="./css/ie8.css" />
    <![endif]-->
	
	<!-- Scripts
	================================================== -->
	
<!-- build:js scripts/main.js -->
<script src="bower_components/marked/lib/marked.js"></script>
<script src="js/libs/highlight.pack.js"></script>
<script data-main="js/main" src="bower_components/requirejs/require.js"></script>
<!-- endbuild -->


	
</head>

<body class="front">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
     your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
     improve your experience.</p>
<![endif]-->


<!-- Page content
================================================== -->
<div class="container" id="main">
    

<div class="slides">
	<div class="loader"></div>
</div>

<script id="slideTemplate" type="text/template">
	<section class="slide-content <%= classes %>">
		<h1 class=""><%= title %></h1>

		<h2><%= subtitle %></h2>
		<% if (text) { %>
		<div class="text-inner"> <%= text %></div>
		<% } %> <% if (quote) { %>
		<div class="text-inner quote"><%= quote %></div>
		<% } %> <% if (image) { %>
		<div class="slide-image"><img src="<%= image %>"/></div>
		<% } %><% if (md) { %>
		<div class="text-inner markdown">
			<% var that = this; $.get(md, function (syntax) { that.$el.find('.markdown').html(marked(syntax)); }); %>
		</div>
		<% } %><% if (code) { %>
		<div class="code">
			<pre>
				<code class="<%= codetype %>"> <% var that = this; $.get(code, function (syntax) { that.$el.find('code').html(syntax); }); %> </code>
			</pre>
		</div>
		<% } %>
	</section>
</script>
</div>

</body>
</html>